@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');

:root {
    --background-color: #171614;
    --text-color: rgb(165, 165, 165);
    --border-color: rgb(63, 62, 62);
    --shadow-color: rgb(80, 80, 80);
}

* {
    background-color: var(--background-color);
    color: var(--text-color);
    border-color: var(--border-color);
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quadr {
    border: 1px solid;
    margin: 20px;
}

.quadr-header {
    font-family: sans-serif;
    margin: 20px;

    animation-iteration-count: infinite;
    animation-duration: 4.3s;
}

.quadr p {
    margin: 20px;
}

.about-me,
.socials,
.like,
.dislike {
    font-family: "Federo";
    font-weight: bold;
    font-size: 1.5em;
}



.shadow-pop-tr {
    animation: shadow-pop-tr 5s cubic-bezier(.47, 0.000, .745, .715) both infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2025-12-11 1:47:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

@keyframes shadow-pop-tr {
    0% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }

    50% {
        box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
        transform: translateX(-8px) translateY(8px)
    }

    100% {
        box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
        transform: translateX(0) translateY(0)
    }
}