:root {
    --background-color: rgb(26, 26, 26);
    --text-color: rgb(255, 255, 255);

    background-color: var(--background-color);
    color: var(--text-color);
}

html,
body {
    margin: 0;
    width: 100dvw;
    height: 100dvh;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}