@import url('https://fonts.googleapis.com/css2?family=Federo&display=swap');
@import url("animista.css");

:root {
    --background-color: #141517;
    --text-color: rgb(196, 196, 196);
    --border-color: rgb(63, 62, 62);
    --shadow-color: rgb(80, 80, 80);
}

* {
    /* background-color: var(--background-color); */
    color: var(--text-color);
    border-color: var(--border-color);
}

html,
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: url("bg.png");
}

.container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.quadr {
    margin: 20px;
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.quadr-header {
    font-family: serif;
    margin: 20px;
    animation-iteration-count: infinite;
    animation-duration: 4.3s;
}

.quadr p {
    margin: 20px;
}

.quadr li {
    list-style: image(url("favicon.png"));
}

.about-me,
.socials,
.like,
.dislike {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 35px;
}

.text-flicker-in-glow {
    animation: text-flicker-in-glow 4s linear both
}

@media (max-width: 768px) {
    .main {
        grid-template-columns: 1fr;
        /* single column */
    }
}